name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:

  deploy:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v3


    - name: Create ZIP file
      run: zip -r deploy.zip .


    - name: Deploy to Elastic Beanstalk
      uses: einaregilsson/beanstalk-deploy@v21

      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
        aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
        application_name: ctt-ecommerce
        environment_name: ctt-ecommerce-env
        region: ap-south-1
        version_label: v-${{ github.run_number }}-${{ github.sha }}
        deployment_package: deploy.zip